:root{
    --backgroundColor: #b3b3b3;
    --nameColor: #515150;
    --facebookColor: #1e4fad;
    --instagramColor: rgb(200,32,145) linear-gradient(-135deg, rgba(53,66,224,1) 1.08%, rgba(200,32,145,1) 62.36%, rgba(246,43,55,1) 76.12%, rgba(255,198,88,1) 100%);
    --twittreColor: #1ba5d4;
    --linkedinColor: #007ab5;
    --whatsappColor: #0b8f21;
    --behanceColor: #0f64ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--backgroundColor);
}

a{
    text-decoration: none;
}

.container{
    text-align: center;
}

.infos {
    margin-top: 100px;
}

.infos .nom{
    color: var(--nameColor);
    margin: 10px 0;
    font-size: 22px;
    text-transform: uppercase;
}

.infos img{
    width: 150px;
    height: 150px;
}

.social-media{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    grid-row-gap: 25px;
    justify-items: center;
}

.social-media .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 25px;
}

.social-media .row .col{
    width: 350px;
    height: 50px;
    background: var(--facebookColor);
    border-radius: 30px;
    transition: all .4s;
}

.social-media .row .col:hover{
    transform: translateY(-5px);
}

.social-media .row:nth-of-type(1) .col:nth-of-type(2){
    background: var(--instagramColor);
}

.social-media .row:nth-of-type(2) .col:nth-of-type(1){
    background: var(--twittreColor);
}

.social-media .row:nth-of-type(2) .col:nth-of-type(2){
    background: var(--whatsappColor);
}

.social-media .row:nth-of-type(3) .col:nth-of-type(1){
    background: var(--linkedinColor);
}

.social-media .row:nth-of-type(3) .col:nth-of-type(2){
    background: var(--behanceColor);
}

.social-media .row .col a{
    color: #fff;
    display: block;
    line-height: 50px;
    font-size: 20px;
    position: relative;
}

.social-media .row .col a i{
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 20px;
    transition: all .4s;
}

.social-media .row .col:hover a i{
    transform: rotateZ(360deg);
}

.copyright{
    margin: 100px 0 20px 0;
    color: var(--nameColor);
    font-size: 14px;
}

.copyright i{
    color: red;
}

.copyright a{
    color: #e62a2a;
    transition: all .5s;
}

.copyright a:hover{
    color: #2f2779;
}

@media (max-width: 740px){
    .social-media .row{
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
    }

    .infos .nom{
        font-size: 18px;
    }
}

@media (max-width: 480px){
    .social-media .row .col{
        width: 300px;
        height: 40px;
        border-radius: 20px;
    }

    .social-media .row .col a{
        line-height: 40px;
        font-size: 18px;
    }
    
    .social-media .row .col a i{
        font-size: 25px;
        top: 7px;
    }

    .copyright{
        font-size: 13px;
    }
    
}